<html>
	<head>
    	<script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
    	<script type="text/javascript">
			function search()
			{
				searchWithIds(<%= @prominentIds.to_json.html_safe %>, <%= @advocacyIds.to_json.html_safe %>);
			}
			prominentIds = <%= @prominentIds.to_json.html_safe %>;
			advocacyIds = <%= @advocacyIds.to_json.html_safe %>;
    	</script>
	</head>
	<body onload="initSearch();" style="padding:0px">
		<input type="hidden" id="landingPage" value="true"/>
		<div class="header">
			<div id="headerContents">
				<div class="logo">
					<a class="title", href="home">NewsTube</a>
					<span class="tagLine">a better news video search</span>
				</div>
				
				<form class="queryForm" action="javascript:search()">
					Find
					<input id="query" class="search" type="text" placeholder="Search" />
					videos from
					<input id="location" class="search" type="text" placeholder="anywhere"/>
					ordered by
					<select class ="search" id="ordered_by">
					<option value="date">date</option>
					<option value="rating">likes</option>
					<option value="views">views</option>
					<option value="length">length</option>
					</select>
					<button class="btn">Go!</button>
				</form>
				
				<div class="description">Top News Videos:</div><br>
				<div id="topNewsVideos" class = "headerTopVideos">
					<h4>Loading videos...</h4><img style="margin-top:30px" src="assets/fancybox_loading.gif"/>
				</div>
				
				<form class="headerTopVideos">
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid1" checked />
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid2" />
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid3" />
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid4" />
					<input type="radio" name="topVidRadios" onClick="handleTopVid(this.value);" value="topVid5" />
				</form>
			</div>
		</div>
		
		<div class="categories">
			<div class="category" onclick="toggleCategory('prominent')">MEDIA SOURCES</div>
			<div id="prominentTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos from Prominent International News Sites</div>
			</div>
			<div id="prominentWrapper" class="videoListWrapper">
				<div id="prominent" class="videoList">
				</div>
			</div>

			<div class="category" onclick="toggleCategory('local')">LOCAL</div>
			<div id="localTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos from local TV News Stations</div>
				<form action="javascript:searchLocal()" class="marketform">
					<h4 class=marktetcodelabel">Market: </h4>
					 <select onchange="javascript:searchLocal()" id='marketselect'>
						<option value="New York, NY">New York, NY</option>
						<option value="Los Angeles, CA">Los Angeles, CA</option>
						<option value="Chicago, IL">Chicago, IL</option>
						<option value="Philadelphia, PA">Philadelphia, PA</option>
						<option value="Dallas-Ft. Worth, TX">Dallas-Ft. Worth, TX</option>
						<option value="San Francisco-Oakland-San Jose, CA">San Francisco-Oakland-San Jose, CA</option>
						<option value="Boston, MA (Manchester, NH)">Boston, MA (Manchester, NH)</option>
						<option value="Washington, DC (Hagerstown, MD)">Washington, DC (Hagerstown, MD)</option>
						<option value="Atlanta, GA">Atlanta, GA</option>
						<option value="Houston, TX">Houston, TX</option>
						<option value="Detroit, MI">Detroit, MI</option>
						<option value="Phoenix (Prescott), AZ">Phoenix (Prescott), AZ</option>
						<option value="Seattle-Tacoma, WA">Seattle-Tacoma, WA</option>
						<option value="Tampa-St. Petersburg (Sarasota), FL">Tampa-St. Petersburg (Sarasota), FL</option>
						<option value="Minneapolis-St. Paul, MN">Minneapolis-St. Paul, MN</option>
						<option value="Miami-Ft. Lauderdale, FL">Miami-Ft. Lauderdale, FL</option>
						<option value="Denver, CO">Denver, CO</option>
						<option value="Orlando-Daytona Beach-Melbourne, FL">Orlando-Daytona Beach-Melbourne, FL</option>
						<option value="Cleveland-Akron (Canton), OH">Cleveland-Akron (Canton), OH</option>
						<option value="Sacramento-Stockton-Modesto, CA">Sacramento-Stockton-Modesto, CA</option>
						<option value="St. Louis, MO">St. Louis, MO</option>
						<option value="Portland, OR">Portland, OR</option>
						<option value="Pittsburgh, PA">Pittsburgh, PA</option>
						<option value="Raleigh-Durham (Fayetteville), NC">Raleigh-Durham (Fayetteville), NC</option>
						<option value="Charlotte, NC">Charlotte, NC</option>
						<option value="Indianapolis, IN">Indianapolis, IN</option>
						<option value="Baltimore, MD">Baltimore, MD</option>
						<option value="San Diego, CA">San Diego, CA</option>
						<option value="Nashville, TN">Nashville, TN</option>
						<option value="Hartford & New Haven, CT">Hartford & New Haven, CT</option>
						<option value="Kansas City, MO">Kansas City, MO</option>
						<option value="Columbus, OH">Columbus, OH</option>
						<option value="Salt Lake City, UT">Salt Lake City, UT</option>
						<option value="Milwaukee, WI">Milwaukee, WI</option>
						<option value="Cincinnati, OH">Cincinnati, OH</option>
						<option value="San Antonio, TX">San Antonio, TX</option>
						<option value="Greenville-Spartanburg, SC-Asheville, NC-Anderson, SC">Greenville-Spartanburg, SC-Asheville, NC-Anderson, SC</option>
						<option value="West Palm Beach-Ft. Pierce, FL">West Palm Beach-Ft. Pierce, FL</option>
						<option value="Grand Rapids-Kalamazoo-Battle Creek, MI">Grand Rapids-Kalamazoo-Battle Creek, MI</option>
						<option value="Austin, TX">Austin, TX</option>
						<option value="Oklahoma City, OK">Oklahoma City, OK</option>
						<option value="Las Vegas, NV">Las Vegas, NV</option>
						<option value="Harrisburg-Lancaster-Lebanon-York, PA">Harrisburg-Lancaster-Lebanon-York, PA</option>
						<option value="Birmingham (Anniston and Tuscaloosa), AL">Birmingham (Anniston and Tuscaloosa), AL</option>
						<option value="Norfolk-Portsmouth-Newport News, VA">Norfolk-Portsmouth-Newport News, VA</option>
						<option value="Greensboro-High Point-Winston Salem, NC">Greensboro-High Point-Winston Salem, NC</option>
						<option value="Albuquerque-Santa Fe, NM">Albuquerque-Santa Fe, NM</option>
						<option value="Jacksonville, FL">Jacksonville, FL</option>
						<option value="Louisville, KY">Louisville, KY</option>
						<option value="Memphis, TN">Memphis, TN</option>
						<option value="New Orleans, LA">New Orleans, LA</option>
						<option value="Buffalo, NY">Buffalo, NY</option>
						<option value="Providence, RI-New Bedford, MA">Providence, RI-New Bedford, MA</option>
						<option value="Wilkes Barre-Scranton-Hazleton, PA">Wilkes Barre-Scranton-Hazleton, PA</option>
						<option value="Fresno-Visalia, CA">Fresno-Visalia, CA</option>
						<option value="Little Rock-Pine Bluff, AR">Little Rock-Pine Bluff, AR</option>
						<option value="Richmond-Petersburg, VA">Richmond-Petersburg, VA</option>
						<option value="Albany-Schenectady-Troy, NY">Albany-Schenectady-Troy, NY</option>
						<option value="Mobile, AL-Pensacola (Ft. Walton Beach), FL">Mobile, AL-Pensacola (Ft. Walton Beach), FL</option>
						<option value="Tulsa, OK">Tulsa, OK</option>
						<option value="Knoxville, TN">Knoxville, TN</option>
						<option value="Ft. Myers-Naples, FL">Ft. Myers-Naples, FL</option>
						<option value="Lexington, KY">Lexington, KY</option>
						<option value="Dayton, OH">Dayton, OH</option>
						<option value="Charleston-Huntington, WV">Charleston-Huntington, WV</option>
						<option value="Roanoke-Lynchburg, VA">Roanoke-Lynchburg, VA</option>
						<option value="Wichita-Hutchinson, KS Plus">Wichita-Hutchinson, KS Plus</option>
						<option value="Flint-Saginaw-Bay City, MI">Flint-Saginaw-Bay City, MI</option>
						<option value="Honolulu, HI">Honolulu, HI</option>
						<option value="Green Bay-Appleton, WI">Green Bay-Appleton, WI</option>
						<option value="Tucson (Sierra Vista), AZ">Tucson (Sierra Vista), AZ</option>
						<option value="Des Moines-Ames, IA">Des Moines-Ames, IA</option>
						<option value="Spokane, WA">Spokane, WA</option>
						<option value="Omaha, NE">Omaha, NE</option>
						<option value="Springfield, MO">Springfield, MO</option>
						<option value="Toledo, OH">Toledo, OH</option>
						<option value="Columbia, SC">Columbia, SC</option>
						<option value="Rochester, NY">Rochester, NY</option>
						<option value="Huntsville-Decatur (Florence), AL">Huntsville-Decatur (Florence), AL</option>
						<option value="Portland-Auburn, ME">Portland-Auburn, ME</option>
						<option value="Paducah, KY-Cape Girardeau, MO-Harrisburg, IL">Paducah, KY-Cape Girardeau, MO-Harrisburg, IL</option>
						<option value="Shreveport, LA">Shreveport, LA</option>
						<option value="Madison, WI">Madison, WI</option>
						<option value="Champaign & Springfield-Decatur, IL">Champaign & Springfield-Decatur, IL</option>
						<option value="Syracuse, NY">Syracuse, NY</option>
						<option value="Harlingen-Weslaco-Brownsville-McAllen, TX">Harlingen-Weslaco-Brownsville-McAllen, TX</option>
						<option value="Chattanooga, TN">Chattanooga, TN</option>
						<option value="Waco-Temple-Bryan, TX">Waco-Temple-Bryan, TX</option>
						<option value="Colorado Springs-Pueblo, CO">Colorado Springs-Pueblo, CO</option>
						<option value="Cedar Rapids-Waterloo-Iowa City & Dubuque, IA">Cedar Rapids-Waterloo-Iowa City & Dubuque, IA</option>
						<option value="El Paso, TX (Las Cruces, NM)">El Paso, TX (Las Cruces, NM)</option>
						<option value="Savannah, GA">Savannah, GA</option>
						<option value="Baton Rouge, LA">Baton Rouge, LA</option>
						<option value="Jackson, MS">Jackson, MS</option>
						<option value="Charleston, SC">Charleston, SC</option>
						<option value="South Bend-Elkhart, IN">South Bend-Elkhart, IN</option>
						<option value="Tri-Cities, TN-VA">Tri-Cities, TN-VA</option>
						<option value="Burlington, VT-Plattsburgh, NY">Burlington, VT-Plattsburgh, NY</option>
						<option value="Greenville-New Bern-Washington, NC">Greenville-New Bern-Washington, NC</option>
						<option value="Davenport, IA-Rock Island-Moline, IL">Davenport, IA-Rock Island-Moline, IL</option>
						<option value="Ft. Smith-Fayetteville-Springdale-Rogers, AR">Ft. Smith-Fayetteville-Springdale-Rogers, AR</option>
						<option value="Myrtle Beach-Florence, SC">Myrtle Beach-Florence, SC</option>
						<option value="Evansville, IN">Evansville, IN</option>
						<option value="Lincoln & Hastings-Kearney, NE">Lincoln & Hastings-Kearney, NE</option>
						<option value="Tallahassee, FL-Thomasville, GA">Tallahassee, FL-Thomasville, GA</option>
						<option value="Reno, NV">Reno, NV</option>
						<option value="Tyler-Longview(Lufkin & Nacogdoches), TX">Tyler-Longview(Lufkin & Nacogdoches), TX</option>
						<option value="Ft. Wayne, IN">Ft. Wayne, IN</option>
						<option value="Boise, ID">Boise, ID</option>
						<option value="Sioux Falls(Mitchell), SD">Sioux Falls(Mitchell), SD</option>
						<option value="Augusta, GA-Aiken, SC">Augusta, GA-Aiken, SC</option>
						<option value="Youngstown, OH">Youngstown, OH</option>
						<option value="Springfield-Holyoke, MA">Springfield-Holyoke, MA</option>
						<option value="Lansing, MI">Lansing, MI</option>
						<option value="Fargo-Valley City, ND">Fargo-Valley City, ND</option>
						<option value="Peoria-Bloomington, IL">Peoria-Bloomington, IL</option>
						<option value="Macon, GA">Macon, GA</option>
						<option value="Traverse City-Cadillac, MI">Traverse City-Cadillac, MI</option>
						<option value="Montgomery-Selma, AL">Montgomery-Selma, AL</option>
						<option value="Eugene, OR">Eugene, OR</option>
						<option value="Lafayette, LA">Lafayette, LA</option>
						<option value="Santa Barbara-Santa Maria-San Luis Obispo, CA">Santa Barbara-Santa Maria-San Luis Obispo, CA</option>
						<option value="Yakima-Pasco-Richland-Kennewick, WA">Yakima-Pasco-Richland-Kennewick, WA</option>
						<option value="Monterey-Salinas, CA">Monterey-Salinas, CA</option>
						<option value="Columbus, GA (Opelika, AL)">Columbus, GA (Opelika, AL)</option>
						<option value="Bakersfield, CA">Bakersfield, CA</option>
						<option value="La Crosse-Eau Claire, WI">La Crosse-Eau Claire, WI</option>
						<option value="Corpus Christi, TX">Corpus Christi, TX</option>
						<option value="Amarillo, TX">Amarillo, TX</option>
						<option value="Wilmington, NC">Wilmington, NC</option>
						<option value="Chico-Redding, CA">Chico-Redding, CA</option>
						<option value="Columbus-Tupelo-West Point-Houston, MS">Columbus-Tupelo-West Point-Houston, MS</option>
						<option value="Topeka, KS">Topeka, KS</option>
						<option value="Rockford, IL">Rockford, IL</option>
						<option value="Columbia-Jefferson City, MO">Columbia-Jefferson City, MO</option>
						<option value="Duluth, MN-Superior, WI">Duluth, MN-Superior, WI</option>
						<option value="Medford-Klamath Falls, OR">Medford-Klamath Falls, OR</option>
						<option value="Beaumont-Port Arthur, TX">Beaumont-Port Arthur, TX</option>
						<option value="Salisbury, MD">Salisbury, MD</option>
						<option value="Lubbock, TX">Lubbock, TX</option>
						<option value="Minot-Bismarck-Dickinson (Williston), ND">Minot-Bismarck-Dickinson (Williston), ND</option>
						<option value="Anchorage, AK">Anchorage, AK</option>
						<option value="Palm Springs, CA">Palm Springs, CA</option>
						<option value="Erie, PA">Erie, PA</option>
						<option value="Odessa-Midland, TX">Odessa-Midland, TX</option>
						<option value="Albany, GA">Albany, GA</option>
						<option value="Joplin, MO-Pittsburg, KS">Joplin, MO-Pittsburg, KS</option>
						<option value="Rochester, MN-Mason City, IA-Austin, MN">Rochester, MN-Mason City, IA-Austin, MN</option>
						<option value="Panama City, FL">Panama City, FL</option>
						<option value="Terre Haute, IN">Terre Haute, IN</option>
						<option value="Bangor, ME">Bangor, ME</option>
						<option value="Binghamton, NY">Binghamton, NY</option>
						<option value="Biloxi-Gulfport, MS">Biloxi-Gulfport, MS</option>
						<option value="Idaho Falls-Pocatello, ID (Jackson, WY)">Idaho Falls-Pocatello, ID (Jackson, WY)</option>
						<option value="Abilene-Sweetwater, TX">Abilene-Sweetwater, TX</option>
						<option value="Yuma, AZ-El Centro, CA">Yuma, AZ-El Centro, CA</option>
						<option value="Hattiesburg-Laurel, MS">Hattiesburg-Laurel, MS</option>
						<option value="Billings, MT">Billings, MT</option>
						<option value="Clarksburg-Weston, WV">Clarksburg-Weston, WV</option>
						<option value="Quincy, IL-Hannibal, MO-Keokuk, IA">Quincy, IL-Hannibal, MO-Keokuk, IA</option>
						<option value="Dothan, AL">Dothan, AL</option>
						<option value="Rapid City, SD">Rapid City, SD</option>
						<option value="Elmira (Corning), NY">Elmira (Corning), NY</option>
						<option value="Watertown, NY">Watertown, NY</option>
						<option value="Jackson, TN">Jackson, TN</option>
						<option value="Harrisonburg, VA">Harrisonburg, VA</option>
						<option value="Alexandria, LA">Alexandria, LA</option>
						<option value="Marquette, MI">Marquette, MI</option>
						<option value="Jonesboro, AR">Jonesboro, AR</option>
						<option value="Bowling Green, KY">Bowling Green, KY</option>
						<option value="Charlottesville, VA">Charlottesville, VA</option>
						<option value="Laredo, TX">Laredo, TX</option>
						<option value="Grand Junction-Montrose, CO">Grand Junction-Montrose, CO</option>
						<option value="Lafayette, IN">Lafayette, IN</option>
						<option value="Great Falls, MT">Great Falls, MT</option>
						<option value="Twin Falls, ID">Twin Falls, ID</option>
						<option value="Bend, OR">Bend, OR</option>
						<option value="Casper-Riverton, WY">Casper-Riverton, WY</option>
						<option value="San Angelo, TX">San Angelo, TX</option>
						<option value="Mankato, MN">Mankato, MN</option>
						<option value="Ottumwa, IA-Kirksville, MO">Ottumwa, IA-Kirksville, MO</option>
						<option value="Fairbanks, AK">Fairbanks, AK</option>
						<option value="Zanesville, OH">Zanesville, OH</option>
						<option value="Presque Isle, ME">Presque Isle, ME</option>
						<option value="Juneau, AK">Juneau, AK</option>
						<option value="North Platte, NE">North Platte, NE</option>
						<option value="Alpena, MI">Alpena, MI</option>
					</select> 
					<!--<button class="btn zipcodebtn">Update</button>-->
				</form>
			</div>
			<div id="localWrapper" class="videoListWrapper">
				<div id="local" class="videoList">
				</div>
				<div id="hiddenLocalHelper" style="display:none"></div>
			</div>

			<div class="category" onclick="toggleCategory('documentary')">DOCUMENTARY</div>
			<div id="documentaryTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Documentary video</div>
			</div>
			<div id="documentaryWrapper" class="videoListWrapper">
				<div id="documentary" class="videoList">
				</div>
			</div>

			<div class="category" onclick="toggleCategory('twitter')">TWITTER</div>
			<div id="twitterTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos that are trending on twitter</div>
			</div>
			<div id="twitterWrapper" class="videoListWrapper">
				<div id="twitter" class="videoList">
				</div>
				<div id="hiddentwitter" style="display:none"></div>
			</div>

			<div class="category" onclick="toggleCategory('advocacy')">ADVOCACY</div>
			<div id="advocacyTriWrapper" class="triangleWrapper">
				<div class="triangle"></div>
				<div class="description">Videos made by advocacy groups</div>
			</div>
			<div id="advocacyWrapper" class="videoListWrapper">
				<div id="advocacy" class="videoList">
				</div>
			</div>
		</div>
	</body>
</html>