@import "bootstrap";

.button {
	background-color: rgb(199,31,31);
	color: white;
	padding:4px;
	
	border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	
	text-decoration:none;
}

.button:hover {
	background-color: rgb(225,62,62);
}

.button:disabled {
	background-color: rgb(51,51,51);
	color: rgb(160,160,160);
}


body { 
	padding: 50px 0px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	background-color: lightgray;
	color: rgb(64,64,64) ;
}

a {
	font-size: 20px;
}

td {
	padding: 1px 10px;
}

.header {
	marginTop: 0;
	height: '100px';
	borderLeftWidth: "200px";
}

.title {
	font-size: 65px;
	line-height: 65px;
	font-weight: 100;
	color: white;
}

.tagLine {
	display: block;
	font-size: 23px;
	margin: 15px 0px;
	white-space: nowrap;
}

.search {
	width:250px;
	margin-left: 5px;
	margin-right: 5px;
}

.category {
	border-color: gray;
	font-size: 20px;
	padding: 15px 0px;
	font-weight:normal;
}

.categories {
	display: none;
}

.category:hover {
	cursor:pointer;
	color: #999;
	font-weight:normal;
}

.videoChannelName {
	float: left;
	text-align: left;
	
	width: 45%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	
	padding: 4px;
}

.videoDate {
	float: right;
	text-align: right;
	
	width: 45%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	
	padding: 4px;
}

.videoList{
	height:240px;	
	white-space: nowrap;
}

.videoListWrapper {
	width: 100%;
	overflow-y: hidden;
	display:none;
	background: #999;
	color: white;
}

.triangle {
	margin: 0 auto;
    width: 0;
    height: 0;
    border: solid 20px;
    border-color: white transparent transparent transparent;
}

.triangleWrapper {
	width: 100%;
	display:none;
	background: #999;
	color: white;
}

.vid {
	vertical-align: top;
	width: 250px;
	height: 210px;
	margin: 0px 15px 0px 15px;
	display:inline-block;
	white-space: normal;
}

.moreBtn {
	background-image: url('plus1.png');
	background-size: cover;
	background-color: #999;
	margin: 60px 20px 0px 10px;
	width: 60px;
	height: 60px;
	border: none;
}

.moreBtn:hover {
	background-image: url('plus2.png');
}

.field {
	display: inline-block;
	padding: 0px 10px;
}

#zipcode, #loc, #radius {
	width: 65px;
	margin-right: 8px;
	margin-left: 10px;
}

.zipcodebtn, .locbtn {
	margin-left: 8px;
}

.marketform, .locform {
	margin-bottom:0px;
	padding-bottom: 15px;
}

.marketcodelabel, .loclabel {
	display: inline-block;
	vertical-align: middle;
}

.description {
	font-size:20px;
	margin-top: -10px;
	padding-bottom: 10px;
	font-weight:300;
	white-space: nowrap;
}

.section {
	width: 960px;
	height: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom: 16px;
	
	display: inline-block;
	
	background-color: white;
	
	overflow: hidden;
}

#headerContents {
	margin-top: 16px;
	background-color: rgb(199,31,31);
	color: white;
}

#homeSlides {
	width: 3840px;
}

#homeSlideshow {
	width: 640px;
	height: 390px;
	margin-bottom: 32px;
	
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
}

.slideshowButton {
	width: 45px;
	height: 70px;

    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
	
	display: inline-block;
}

.slideshowButton:hover {
	background-color: rgb(225,62,62);
}

.slideshowButton:disabled {
	background-color: rgb(51,51,51);
	color: rgb(160,160,160);
}

#prevSlideButton {
	margin-left: auto;
	margin-right: -5px;

    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
	
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
}

#nextSlideButton {
	margin-right: auto;
	margin-left: -5px;
	
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
	
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
}

#homeLogoImg {
	width: 450px;
	height: 230px;
	padding-top: 70px;
	padding-bottom: 20px;
}

.homeSlide {
	float: left;
	width: 640px;
	height: 390px;
	margin: 0px;
	
	overflow: hidden;
}

.videoDiv {
	width: 100%;
	height: 100%;
	
	background-color: black;
	background-size: cover;
	background-position: center center;
	
	position: relative;
}

.slideDesc {
	width: 100%;
	color: white;

	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	
	background-color: rgba(0,0,0,0.75);
}

.slideTitle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 4px;
	
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	color: white;
	background-color: rgba(0,0,0,0.75);
}

.playButton {
	width: 70px;
	height: 70px;
	background-image: image-url('play_button.png');
	
	position: absolute;
	top: 50%; left:50%;
	margin-left: -35px;
	margin-top:-35px;
}

#searchTabs {
	width: 960px;
	background-color: white;
	
	border-bottom: solid;
	border-color: lightgray;
	
	display: inline-block;
}

.tab {
	background-color: transparent;
	border: none;
	border-bottom: solid;
	border-color: transparent;
	
	padding-top: 12px;
	padding-bottom: 12px;
	margin-left: 12px;
	margin-right: 12px;
}

.tab.selected {
	border-color: rgb(199,31,31);
	
	font-weight: bold;
}

.tab:hover {
	border-color: rgb(199,31,31);
}

.searchWrapper {
	width: 2880px;
	background-color: transparent;
}

.searchWrapper .section {
	float: left;
	margin: 0px;
}

#searchSection {
	background-color: transparent;
	padding: 0px;
}

#related {
	padding: 12px;
}

.relatedTerm {
	margin-left: 10px;
	cursor: pointer;
	display: inline-block;
	
	font-size: 12px;
}

.relatedTerm a {
	font-size: 12px;
}